h1 {
  text-align: center;
  color: #112a5c;
  margin-top: 50px;
  }
  
#box{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 50px;
  width: 600px;
  height: 420px;
  background: #112a5c;
  border: 2px solid #112a5c;
  border-radius: 20px;
  text-align: center;
  }

#tree-wraper{
  background: #112a5c;
  width: 90%;
  height: 80%;
  margin: auto;
  display: block;
}

#top {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 45px;
  width: 30px;
  height: 30px;
  background-color: #fcd703;
  border-radius: 50%;
  z-index: 3;
  position: relative;
  }

#tree {
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 80px solid #197029;
  z-index: 1;
  position: relative;
  }

#tree2 {
  margin-top: -50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-bottom: 90px solid #197029;
  z-index: 2;
  position: relative;
  }

#tree3 {
  margin-top: -70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  border-bottom: 110px solid #197029;
  z-index: 2;
  position: relative;
  }

#trunk {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  background-color: brown;
  }
  
#counter-holder{
  margin-top: -40px;
  color: gold;
  font-size: 150%;
  font-weight: bold;
  width: 100%;
  }

#counter {
  width: 100%;
  display: flex;
  margin-left: 25px;
  }

#days, #hours, #minutes, #seconds {
  padding: 5px;
}

p {
  margin-top: 25px;
  margin-bottom: 0px;
  display: flex;
  color: gold;
  font-size: 120%;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  